@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

:root {
  --color-highlight: hsl(338 100% 58%);
  --color-highlight-2: hsl(348 90% 68%);
  --color-highlight-3: hsl(349 85% 58%);
}

@theme {

  --font-sans: "Outfit Variable", sans-serif;

  --animate-text-gradient: text-gradient 1.5s linear infinite;
  --animate-heartbeat: heartbeat 0.6s ease-out infinite;

  @keyframes heartbeat {
    0%, 50%, 100% { transform: scale(1); }
    25%  { transform: scale(1.1); }
    75%  { transform: scale(0.9); }
  }

  @keyframes text-gradient {
    to {
      background-position: 200% center;
    }
  }
}

@utility text-highlight {
  @apply animate-text-gradient bg-linear-to-r from-(--color-highlight) via-(--color-highlight-2) to-(--color-highlight-3) bg-size-[200%_auto] bg-clip-text font-bold text-transparent;
}
