---
import MainLayout from "@/layouts/MainLayout.astro";
import Hero from "@/sections/Hero.astro";
import QR from "@/sections/QR.astro";
---

<MainLayout>
  <main class="flex flex-col md:flex-row items-center max-w-7xl mx-auto">
    <Hero />
    <QR />
  </main>
</MainLayout>
