---
import Download from "@/assets/icons/download.svg";
---

<a
  href="https://drive.google.com/drive/folders/1LuvvvcajRhSjPWKL1k-s44GVCeHDzQwE?usp=drive_link"
  download
  class="overflow-hidden rounded-full text-white bg-red-500 hover:bg-red-500/90 transition-all duration-300 inline-flex gap-2 cursor-pointer items-center justify-center font-bold px-6 py-3 max-w-max text-sm hover:scale-105"
>
  <Download class="size-5 stroke-3" />
  Descargar APK
</a>
