---
import SocialLink from "@/components/SocialLink.astro";
import ExternalLink from "@/assets/icons/external-link.svg";
---

<footer class="text-xs text-center text-pretty mt-auto md:mt-0">
  <p>
    © <span id="current-year"></span>
    <SocialLink to="https://github.com/isahecam/liebe-verbindet"
      >Liebe Verbindet <ExternalLink class="size-3 inline-block" /></SocialLink
    >
  </p>
  <p>
    Desarrollado con ❤️ por
    <SocialLink to="https://www.instagram.com/angie_jimd/">Angy</SocialLink>
    <span>y</span>
    <SocialLink to="https://www.instagram.com/_isahernz/">Brandon</SocialLink>
  </p>
  <p>Desde San José Chiapa, Puebla Ciudad Modelo, para todo el mundo. 🌎</p>
</footer>

<script>
  const $currentYear = document.querySelector(
    "#current-year",
  ) as HTMLSpanElement;

  $currentYear.textContent = new Date().getFullYear().toString();
</script>
