---
import Android from "@/assets/icons/android.svg";
---

<div
  role="group"
  class="inline-flex gap-2 items-center"
  aria-label="Disponible para Android"
>
  <Android class="size-10" aria-hidden="true" />
  <p class="flex flex-col justify-center select-none">
    <small class="text-xs leading-1">Disponible para</small>
    <strong class="text-xl font-semibold">Android</strong>
  </p>
</div>
