---
import "@fontsource-variable/outfit";
import "@/styles/globals.css";

import Background from "@/components/Background.astro";
import Head from "./Head.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Head />
  </head>
  <body>
    <div class="relative min-h-dvh">
      <slot />
      <Background />
    </div>
  </body>
</html>
